@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700&display=swap");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background-color: #fff;
  color: #000;
  font-family: "pretendard" sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;
}
body.hidden {
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "pretendard" sans-serif;
}

ol, ul {
  list-style-type: none;
}

a {
  color: #222;
  text-decoration: none;
}

p {
  margin: 1em 0;
}

img {
  border: 0;
  vertical-align: middle;
}

input, select, textarea, button {
  font-size: 1.6rem;
  font-family: "pretendard" sans-serif;
  color: #222;
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.wrap {
  max-width: 140rem;
  margin: auto;
}

.clearfix:after {
  display: block;
  clear: both;
  content: "";
}

.blind {
  position: absolute;
  left: -9999rem;
}

.serif {
  font-family: "Nanum Myeongjo", serif;
}

#skip a {
  position: fixed;
  top: -10rem;
  left: 0;
  z-index: 1000;
  width: 100%;
  line-height: 4.4rem;
  background-color: #fff;
  text-align: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#skip a:focus {
  top: 0;
}

#jeju_hd {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}
#jeju_hd .hd_container {
  display: block;
  border-bottom: 0.1rem solid #ddd;
}
#jeju_hd .hd_container .hd_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100%;
  height: 7rem;
  margin: 0 auto;
  background-color: #fff;
}
#jeju_hd .hd_container .hd_wrap .logo {
  padding-bottom: 1rem;
  padding-left: 1.5rem;
}
#jeju_hd .hd_container .hd_wrap .logo a {
  display: block;
  width: 15rem;
}
#jeju_hd .hd_container .hd_wrap .logo a img {
  width: 100%;
}
#jeju_hd .hd_container .hd_wrap #jeju_gnb {
  width: 80%;
}
#jeju_hd .hd_container .hd_wrap #jeju_gnb > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#jeju_hd .hd_container .hd_wrap #jeju_gnb > ul .pc_depth1 > button {
  position: relative;
  width: 15rem;
  padding: 2.2rem 0;
  font-size: 1.9rem;
  font-weight: 600;
  color: #000;
}
#jeju_hd .hd_container .hd_wrap #jeju_gnb > ul .pc_depth1 > button:hover:after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 15rem;
  height: 0.3rem;
  background-color: #ff5000;
}
#jeju_hd .hd_container .hd_wrap #jeju_gnb .pc_depth2_box {
  position: absolute;
  top: 7rem;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background-color: #fff;
  opacity: 1;
  -webkit-transition: 1s;
  transition: 1s;
  z-index: -1;
  -webkit-transform: translateY(-100rem);
          transform: translateY(-100rem);
}
#jeju_hd .hd_container .hd_wrap #jeju_gnb .pc_depth2_box.click {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
#jeju_hd .hd_container .hd_wrap #jeju_gnb .pc_depth2_box .pc_depth2 {
  width: 16.6666%;
  border-right: 0.1rem solid #ddd;
  text-align: center;
}
#jeju_hd .hd_container .hd_wrap #jeju_gnb .pc_depth2_box .pc_depth2 li {
  padding: 1rem 0;
  font-size: 1.7rem;
}
#jeju_hd .hd_container .hd_wrap #jeju_gnb .pc_depth2_box .pc_depth2 li:nth-child(1) {
  padding-top: 2rem;
  font-weight: 700;
}
#jeju_hd .hd_container .hd_wrap #jeju_gnb .pc_depth2_box .pc_depth2 li a {
  display: block;
}
#jeju_hd .hd_container .hd_wrap #jeju_gnb .pc_depth2_box .pc_depth2 li a:hover {
  scale: 1.1;
}
#jeju_hd .hd_container .hd_wrap .hd_util {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: initial;
  -webkit-box-direction: initial;
      -ms-flex-direction: initial;
          flex-direction: initial;
  width: 20rem;
  margin-right: 1.5rem;
}
#jeju_hd .hd_container .hd_wrap .hd_util a {
  display: block;
  width: 25%;
  height: 3rem;
}
#jeju_hd .hd_container .hd_wrap .hd_util a:nth-child(1) {
  background: url("../images/util_login.png") center center/cover no-repeat;
}
#jeju_hd .hd_container .hd_wrap .hd_util a:nth-child(2) {
  background: url("../images/util_alram.png") center center/cover no-repeat;
}
#jeju_hd .hd_container .hd_wrap .hd_util a:nth-child(3) {
  background: url("../images/util_cart.png") center center/cover no-repeat;
}
#jeju_hd .hd_container .hd_wrap .hd_util a:nth-child(4) {
  background: url("../images/util_search.png") center center/cover no-repeat;
}

#jeju_ft {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 4rem;
  background-color: #ddd;
}

/* 모바일만 ~767px */
/* 태블릿부터 768px~ */
/* 태블릿만 768px~1023px */
/* PC부터 1024px~ */
/* 작은 PC 1024px~1279px */
/* PC 1280px~ */
.section {
  background-size: 120% auto;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-transition: background 2s 0.3s;
  transition: background 2s 0.3s;
}
.section.rsv_container {
  background-image: url("../images/main1.png");
}
.section.sec_where {
  background-image: url("../images/main2.png");
}
.section.sec_how {
  background-image: url("../images/main3.png");
}
.section.sec_bbs {
  background-image: url("../images/main4.png");
}
.section.sec_zzz {
  background-image: url("../images/main5.png");
}
.section.rsv_container.fp-completely, .section.sec_bbs.fp-completely, .section.sec_where.fp-completely, .section.sec_how.fp-completely, .section.sec_zzz.fp-completely {
  background-size: 105% auto;
}

#fp-nav {
  display: none;
}
#fp-nav.fp-left {
  left: 5rem;
}
#fp-nav ul li {
  width: 1.4rem;
  height: 4.2rem;
  margin: 0;
}
#fp-nav ul li a {
  width: 10rem;
  height: 100%;
}
#fp-nav ul li a::before, #fp-nav ul li a:after {
  content: "";
  position: absolute;
  left: 0.7rem;
  width: 0.1rem;
  height: 1.8rem;
  background-color: #222;
  opacity: 0.3;
}
#fp-nav ul li a::before {
  top: 0;
}
#fp-nav ul li a::after {
  bottom: 0;
}
#fp-nav ul li a.active:before, #fp-nav ul li a:active::after {
  height: 1.4rem;
}
#fp-nav ul li a span {
  position: absolute;
  top: 1.8rem;
  left: 0.4rem;
  width: 0.6rem;
  height: 0.6rem;
  margin: 0;
  background-color: #222;
  opacity: 0.3;
}
#fp-nav ul li a.active span {
  left: 0;
  top: 1.4rem;
  width: 1.4rem;
  height: 1.4rem;
  margin: 0;
  opacity: 1;
}
#fp-nav ul li a.active ~ .fp-tooltip {
  opacity: 1;
}
#fp-nav ul li:hover a:before, #fp-nav ul li:hover a:active::before, #fp-nav ul li:hover a::after, #fp-nav ul li:hover a:active::after {
  height: 1.4rem;
}
#fp-nav ul li:hover a span, #fp-nav ul li:hover a.active span {
  left: 0;
  top: 1.4rem;
  width: 1.4rem;
  height: 1.4rem;
  margin: 0;
  opacity: 1;
}
#fp-nav ul li .fp-tooltip {
  position: absolute;
  top: 0;
  left: 2.4rem;
  width: auto;
  line-height: 4.2rem;
  color: #222;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 2rem;
  opacity: 0.3;
}
#fp-nav ul li:first-child a:before, #fp-nav ul li:last-child a:after {
  display: none;
}

.rsv_container .rsv_wrap {
  position: relative;
  width: 100%;
  height: 100%;
  color: #fff;
}
.rsv_container .rsv_wrap .rsv_bigbox {
  position: absolute;
  right: 31rem;
  top: 8rem;
  width: 40rem;
  background-color: #353A47;
  border-radius: 1rem 0 0 1rem;
}
.rsv_container .rsv_wrap .rsv_bigbox .box1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1.5rem 0;
}
.rsv_container .rsv_wrap .rsv_bigbox .box1 > li {
  padding: 0.5rem 4rem;
  margin-right: 3rem;
  background-color: #84B082;
  border-radius: 2.2rem;
}
.rsv_container .rsv_wrap .rsv_bigbox .box1 > li:nth-child(1) {
  position: relative;
  left: 3rem;
  padding: 0.5rem 3rem;
  margin-right: 0;
  border: 0.1rem solid transparent;
  background-color: #ff5000;
}
.rsv_container .rsv_wrap .rsv_bigbox .box1 > li > button {
  color: #fff;
}
.rsv_container .rsv_wrap .rsv_bigbox .box1 > li > button:hover {
  border-bottom: 0.1rem solid #ddd;
}
.rsv_container .rsv_wrap .rsv_bigbox .box2 {
  max-width: 90%;
  margin: 0 auto;
  padding-bottom: 1.5rem;
  border-radius: 1rem;
  background-color: #fff;
}
.rsv_container .rsv_wrap .rsv_bigbox .box2 .item1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.5rem;
  padding: 2.5rem 0;
}
.rsv_container .rsv_wrap .rsv_bigbox .box2 .item1 > li > button {
  font-size: 1.5rem;
}
.rsv_container .rsv_wrap .rsv_bigbox .box2 .item1 > li > button:hover {
  font-weight: 600;
  border-bottom: 0.2rem solid #ff5000;
}
.rsv_container .rsv_wrap .rsv_bigbox .box2 .item2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 5rem;
}
.rsv_container .rsv_wrap .rsv_bigbox .box2 .item2 > li.rotate {
  width: 5rem;
  height: 5rem;
}
.rsv_container .rsv_wrap .rsv_bigbox .box2 .item2 > li.rotate > button {
  width: 100%;
  height: 100%;
  background-image: url("../images/booking__swap--disabled.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
}
.rsv_container .rsv_wrap .rsv_bigbox .box2 .item2 > li > button {
  width: 5rem;
}
.rsv_container .rsv_wrap .rsv_bigbox .box2 .item2 > li > button > span {
  font-size: 2.2rem;
  font-weight: 600;
  display: block;
}
.rsv_container .rsv_wrap .rsv_bigbox .box2 .item2 > li > button .item2_sp {
  font-size: 1.5rem;
  font-weight: inherit;
}
.rsv_container .rsv_wrap .rsv_bigbox .box2 .item3 {
  position: relative;
  width: 90%;
  margin: 0 auto;
  padding: 2rem 0;
  color: #000;
  border-top: 0.1rem solid #999;
  text-align: center;
}
.rsv_container .rsv_wrap .rsv_bigbox .box2 .item3::before {
  position: absolute;
  top: 50%;
  left: 6rem;
  width: 3rem;
  height: 3rem;
  background-image: url("../images/quickbooking__calendar.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  content: "";
}
.rsv_container .rsv_wrap .rsv_bigbox .box2 .item3:hover {
  border: 0.1rem solid #ff5000;
}
/* 모바일만 ~767px */
/* 태블릿부터 768px~ */
/* 태블릿만 768px~1023px */
/* PC부터 1024px~ */
@media screen and (min-width: 1024px) {
  #fp-nav {
    display: block;
  }
}
/* 작은 PC 1024px~1279px */
/* PC 1280px~ */