/* 모바일만 ~767px */
@media screen and (max-width: 767px) {
    
}

/* 태블릿부터 768px~ */
@media screen and (min-width: 768px) {

}

/* 태블릿만 768px~1023px */
@media screen and (min-width: 768px) and (max-width: 1023px) {

}

/* PC부터 1024px~ */
@media screen and (min-width: 1024px) {
}

/* 작은 PC 1024px~1279px */
@media screen and (min-width: 1024px) and (max-width: 1279px) {
}

/* PC 1280px~ */
@media screen and (min-width: 1280px) {
    .login_container {
        width: 100%;
        height: 100vh;
        padding-top: 5rem;
        background: #C9D6FF;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to top, #E2E2E2, #C9D6FF);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to top, #E2E2E2, #C9D6FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        .login_wrap {
            max-width: 29%;
            margin: 10rem auto;
            border: 0.1rem solid #ddd;
            background-color: $wh;
            .loginbox {
                width: 80%;
                margin: 0 auto;
                h2 {
                    padding-top: 3rem;
                    font-size: 3rem;
                }
                .radiobox {
                    display: flex;
                    padding-top: 1.5rem;
                    >div {
                        font-size: 1.7rem;
                        input {
                            width: 2rem;
                            height: 2rem
                        }
                        label {
                            position: relative;
                            left: 0.3rem;
                            bottom: 0.4rem;
                        }
                    }
                    .radio_item2 {
                        padding-left: 10rem;
                    }
                }
                .id_wordbox {
                    >div {
                        label {
                            display: block;
                            padding-top: 2rem;
                            font-size: 1.5rem;
                        }
                        input {
                            width: 100%;
                            padding-top: 2rem;
                            font-size: 1.7rem;
                            border: transparent;
                            background-color: transparent;
                            border-bottom: 0.1rem solid $bk;
                            &:focus {
                                outline: none;
                            }
                        }
                    }
                }
                .checkbox {
                    padding-top: 3rem;
                    input {
                        transform: scale(1.4);
    
                    }
                    label {
                        position: relative;
                        bottom: 0.1rem;
                        padding-left: 1rem;
                    }
                }
                .login {
                    width: 100%;
                    margin-top: 3rem;
                    padding: 1.5rem 0;
                    border-radius: 0.7rem;
                    color:$wh;
                    background-color: $ma_bg;
                    text-align: center;
                }
                .findbox {
                    display: flex;
                    padding-top: 3rem;
                    text-align: center;
                    >div {
                        width: 100%;
                        a {
                            span {
                                display: inline-block;
                                width: 0.9rem;
                                height: 0.9rem;
                                margin-left: 0.7rem;
                                margin-bottom: 0.1rem;
                                border-right: 0.1rem solid $bk;
                                border-top: 0.1rem solid $bk;
                                transform: rotate(45deg);
                            }
                        }
                    }
                }
                .next_id {
                    padding-top: 3rem;
                    .nextid {
                        position: relative;
                        text-align: center;
                        &::before {
                            position: absolute;
                            top:50%;
                            left: 0;
                            width: 12rem;
                            height: 0.1rem;
                            background-color: #ddd;
                            transform: translateY(-50%);
                            content: '';
                        }
                        &::after {
                            position: absolute;
                            top:50%;
                            right: 0;
                            width: 12rem;
                            height: 0.1rem;
                            transform: translateY(-50%);
                            background-color: #ddd;
                            content: '';
                        }
                    }
                    .idbox {
                        .item1 {
                            padding: 2rem 0 1rem 0;
                            display: flex;
                            gap: 4%;
                            font-size: 1.5rem;
                            >div {
                                border: 0.1rem solid #ddd;
                            }
                            .naver {
                                position: relative;
                                width: 48%;
                                padding: 1rem 0;
                                text-align: center;
                                span {
                                    position: absolute;
                                    left: 1rem;
                                    top:50%;
                                    width: 2rem;
                                    height: 2rem;
                                    transform: translateY(-50%);
                                    background: url(../images/ico-naver.svg) center center / cover no-repeat;
                                }
                                >div {}
                            }
                            .kakao {
                                position: relative;
                                width: 48%;
                                padding: 1rem 0;
                                text-align: center;
                                span {
                                    position: absolute;
                                    left: 1rem;
                                    top:50%;
                                    width: 2rem;
                                    height: 2rem;
                                    transform: translateY(-50%);
                                    background: url(../images/ico-kakao.svg) center center / cover no-repeat;
                                }
                                >div {}
                            }
                        }
                        .item2 {
                            display: flex;
                            gap: 4%;
                            font-size: 1.5rem;
                            >div {
                                border: 0.1rem solid #ddd;
                            }
                            .google {
                                position: relative;
                                width: 48%;
                                padding: 1rem 0;
                                text-align: center;
                                span {
                                    position: absolute;
                                    left: 1rem;
                                    top:50%;
                                    width: 2rem;
                                    height: 2rem;
                                    transform: translateY(-50%);
                                    background: url(../images/ico-google.svg) center center / cover no-repeat;
                                }
                                >div {}
                            }
                            .facebook {
                                position: relative;
                                width: 48%;
                                padding: 1rem 0;
                                text-align: center;
                                span {
                                    position: absolute;
                                    left: 1rem;
                                    top:50%;
                                    width: 2rem;
                                    height: 2rem;
                                    transform: translateY(-50%);
                                    background: url(../images/ico-facebook.svg) center center / cover no-repeat;
                                }
                                >div {}
                            }
                        }
                    }
                }
            }
            .signup {
                width: 100%;
                margin-top: 2rem;
                padding: 2rem 0;
                color:$bk;
                background-color: #C9D6FF;
                text-align: center;
            }
        }
    }
}
