/* 모바일만 ~767px */
@media screen and (max-width: 767px) {
    
}

/* 태블릿부터 768px~ */
@media screen and (min-width: 768px) {
    .rsv_container {
        .rsv_wrap {
            .title {
                top:25%;
            }
        }
    }
    .news_container {
        .news_wrap {
            margin: 0 auto;
            .notice {
                .notice_box {
                    .left {
                        color:$wh;
                        >h3 {font-size: 2.5rem;}
                    }
                    .right {
                        padding-top: 2rem;
                        >ul {
                            li {
                                &:nth-child(2) {display: block;}
                                .item1 {
                                    width: 60rem;
                                }
                            }
                        }
                    }
                }
            }
            .event {
                margin: 5rem auto 0 auto;
                >.title {
                    h3 {font-size: 2.5rem;}
                }
                .news_swiper {
                    padding-top: 3rem;
                }
            }
    
        }
    }
    .information_container {
        .information_wrap {
            .swiperbox {
                .info_swiper {
                    margin-top: 5rem;
                }
                
            }
        }
    }
}

/* 태블릿만 768px~1023px */
@media screen and (min-width: 768px) and (max-width: 1279px) {
    .price_container {
        position: relative;
        width: 100%;
        z-index: -1;
        &::after {
            position: absolute;
            top:0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $bk;
            opacity: 0.2;
            z-index: -2;
            content: '';
        }
        .price_wrap {
            margin: -10rem auto 0 auto;
        }
    }
    .information_container {
        .information_wrap {
            margin: 0rem auto;
            .easybox {
                display: flex;
                gap: 5rem;
                .easytxt {
                    margin-top: inherit;
                }
            }
            .swiperbox {
                margin: 5rem auto 0 auto;
            }
        }
    }
}

/* PC부터 1024px~ */
@media screen and (min-width: 1024px) {
    #fp-nav {
        display: block;
    }
    .section {
        background-size: 120% 100%; 
        background-position: center center; 
        background-repeat: no-repeat;
        transition: background 2s 0.3s;        
        &.rsv_container {background-image: url('../images/main1.png');}
        &.price_container {background-image: url('../images/main3.png');}
        &.news_container {background-image: url('../images/main2.png');}
        &.information_container {background-image: url('../images/main5.png');}
        &.sec_zzz {background-image: url('../images/main5.png');}
        &.rsv_container.fp-completely, &.sec_bbs.fp-completely, &.price_container.fp-completely , &.sec_how.fp-completely, &.sec_zzz.fp-completely {
            background-size: 100% 100%;
        } 
    }
    .rsv_container {
        .rsv_wrap {
            .title {
                top:30%;
                left: 20%;
                width: 40rem;
                transform: translateX(-20%);
            }
            .rsv_bigbox {
                right: 31rem;
                bottom: inherit;
                top:8rem;
                width: 40rem;
                border-radius: 1rem 0 0 1rem;
                transform: translateX(0);
                &::after {
                    position: absolute;
                    top: 0;
                    left: 100%;
                    width: 75%;
                    height: 100%;
                    border-radius: 0 0 15rem 0;
                    background-color: #353A47;
                    content: '';
                }
                .box {
                    width: 90%;
                    .box1 {
                        padding: 1.5rem 0;
                        >li {
                            >button {
                                font-size: 1.6rem;
                            }
                        }
                    }
                    .box2 {
                        margin-bottom: 0;
                        border-radius: 1rem;
                        background-color: $wh;
                        .item1 {
                            display: block;
                            display: flex;
                            justify-content: center;
                            gap: 1.5rem;
                            padding: 2.5rem 0;
                            >li {
                                >button {
                                    font-size: 1.5rem;
                                    &:hover {
                                        font-weight: 600;
                                        border-bottom: 0.2rem solid $ma_bg;
                                    }
                                }
                            }
                        }
                        .item2 {
                            padding: 0;
                            margin-bottom: 5rem;
                        }
                        .item3 {
                            display: block;
                            position: relative;
                            width: 90%;
                            margin: 0 auto;
                            padding: 1.5rem 0;
                            color:$bk;
                            border-top: 0.1rem solid $lt-gray;
                            text-align: center;
                            &::before {
                                position: absolute;
                                top:50%;
                                left: 6rem;
                                width: 3rem;
                                height: 3rem;
                                background-image: url('../images/quickbooking__calendar.svg');
                                background-position: center center;
                                background-repeat: no-repeat;
                                background-size: 100%;
                                transform: translateY(-50%);
                                content: '';
                            }
                            &:hover {
                                border: 0.1rem solid $ma_bg;
                            }
                        }
                    }
                    .box3 {
                        display: block;
                        .z {
                            position: relative;
                            width: 100%;
                            background-color: $wh;
                            padding: 1rem 1rem 1.5rem 1rem;
                            margin: 1rem 0;
                            border-radius: 0.7rem;
                            button {
                                &:hover {font-weight: 600;}
                                .box3_item1 {
                                    display: inline-block;
                                    padding-left: 20.3rem;
                                }
                                .box3_item2 {
                                    position: relative;
                                    top:0.5rem;
                                    display: inline-block;
                                    width: 2.3rem;
                                    height: 2.3rem;
                                    background: url('../images/quickbooking__passenger.svg') center center / cover no-repeat;
                                }
                            }
                        }
                        .x {
                            width: 100%;
                            label {
                                display: block;
                                padding: 1.2rem 1rem;
                                color:$bk;
                                border: 0.1rem solid #fff;
                                border-radius: 0.7rem;
                                background-color: $wh;
                            }
                            .box3_item3 {
                                position: relative;
                                right: 0.5rem;
                                width: 100%;
                                border: transparent;
                                background-color: transparent;
                                option {
                                    background-color: $wh;
                                }
                            }
                        }
                    }
                    .box4 {
                        padding-top: 1rem;
                        display: block;
                    }
                    .box5 {
                        display: block;
                        margin: 1rem 0;
                        text-align: right;
                        cursor: pointer;
                        span {
                            &::after {
                                display: inline-block;
                                position: relative;
                                top:0.4rem;
                                width: 2rem;
                                height: 2rem;
                                background: url('../images/ico-right-white.svg') center center / cover no-repeat ;
                                content: '';
                            }
                        }
                    }
                }
            }
            .main_util {
                width: 80%;
                margin: 0 auto 3rem auto;
                padding: 2rem 0;
                background-color: $wh;
                opacity: 0.9;
                >ul {
                    display: flex;
                    justify-content: space-evenly;
                    li {
                        a {
                            display: flex;
                            align-items: center;
                        }
                    }
                }
            }
        }
    }
    .price_container {
        .price_wrap {
            margin: 0 auto;
            display: flex;
            gap: 5%;
            .title {
                max-width: inherit;
                width: 25%;
                margin: inherit;
                color: $wh;
                h2 {font-size: 4rem;}
            }
            .price_swiper {
                max-width: inherit;
                width: 70%;
                margin: inherit;
                padding-top: 0;
                padding-left: 0;
            }
            .prev {
                display: inline-block;
                position: absolute;
                bottom: 1rem;
                left: 30rem;
                display:inline-block;
                width: 2rem;
                height: 2rem;
                margin-left: 0.5rem;
                border-top: 0.1rem solid $wh;
                border-right: 0.1rem solid $wh;
                transform: rotate(225deg);
                cursor: pointer;
                &:hover {
                    scale: 1.1;
                }
            }
            .next {
                display: inline-block;
                position: absolute;
                bottom:1rem;
                left: 33rem;
                display:inline-block;
                width: 2rem;
                height: 2rem;
                margin-left: 0.5rem;
                border-top: 0.1rem solid $wh;
                border-right: 0.1rem solid $wh;
                transform: rotate(45deg);
                cursor: pointer;
                &:hover {
                    scale: 1.1;
                }
            }
        }
    }

}


/* PC 1280px~ */
@media screen and (min-width: 1280px) {
    .news_container {
        .news_wrap {
            .notice {
                width: 100%;
                max-width: inherit;
                margin: inherit;
                .notice_box {
                    display: flex;
                    .left {
                        width: 40%;
                        color:$wh;
                        >h3 {font-size: 3.5rem;}
                        >div {font-size: 1.9rem;}
                    }
                    .right {
                        width: 50%;
                        padding-top: 0;
                        >ul {
                            li {
                                padding: 1rem;
                                .item1 {
                                    padding-right: 0;
                                    font-size: 1.8rem;
                                }
                            }
                        }
                    }
                }
            }
            .event {
                max-width: inherit;
                margin: inherit;
                padding-top: 5rem;
                >.title {
                    h3 {font-size: 3.5rem;}
                    .titleflex {
                        display: flex;
                        justify-content: space-between;
                        div {font-size: 1.9rem;} 
                        a {
                            padding: 1rem 1rem 0 0;
                        }
                    }
                }
                .news_swiper {
                    padding-top: 4rem;
                    .news_slide_box {
                        .news_img {
                            img {
                                width: 34rem;
                                height: 30rem;
                            }
                            .bg {
                                width: 34rem;
                                height: 9rem;
                            }
                            .txt {
                                font-size: 1.8rem;
                                span {
                                    font-size: 1.5rem;
                                }
                            }
                        }
                    }
                }
            }
    
        }
    }
    .information_container {
        .information_wrap {
            margin: 10rem auto 0  auto;
            .easybox {
                display: flex;
                width: 100%;
                margin: inherit;
                .easyimg {
                    width: 55%;
                    .imgbox {
                        width: 75rem;
                        max-width: inherit;
                    }
                }
                .easytxt {
                    width: 45%;
                    margin-top: 0;
                    h3 {
                        font-size: 3rem;
                    }
                    .txt {
                        font-size: 1.8rem;
                    }
                    .button {
                        padding-top: 2rem;
                        font-size: 1.6rem;
                    }
                }
            }
            .infobox {
                display: block;
                width: 100%;
                margin-top:4rem;
                .infotxt {
                    color:$wh;
                    h3 {
                        font-size: 3rem;
                    }
                }
                .infoflex {
                    display: flex;
                    margin-top: 3rem;
                    background-color: $wh;
                    >ul {
                        width: calc(100% / 5);
                        height: 25rem;
                        border: 0.1rem solid #ddd;
                        cursor: pointer;
                        &:hover {
                            border-color: red;
                        }
                        li {
                            display: flex;
                            align-items: center;
                            flex-direction: column;
                        }
                        .first_li {
                            padding-top: 6rem;
                        }
                        .middle_li {
                            padding-top: 1rem;
                            font-weight: 600;
                        }
                        .last_li {
                            padding-top: 1rem;
                            font-size: 1.5rem;
                            text-align: center;
                        }
                    }
                }
            }
            .swiperbox {
                display: none;
            }
        }
    }
}